<h1>This is a chatroom {{ chat_room.name }}!</h1>
{{ request.user.username|json_script:"json-username" }}
{{chat_room.slug|json_script:"chatroomname" }}
<form method="post">
    {% csrf_token %}
    <input
        type="text"
        name="message"
        placeholder="Type your message here..."
        id="message-input"
    />
    <button id="send-button" type="submit">Send</button>
</form>
<script>
    const username = JSON.parse(
        document.getElementById("json-username").textContent,
    );
    const chatRoomName = JSON.parse(
        document.getElementById("chatroomname").textContent,
    );
    const chatSocket = new WebSocket(
        `ws://` + window.location.host + `/ws/` + chatRoomName + `/`,
    );
    chatSocket.onmessage = function (e) {
        console.log("This is a message");
    };
    chatSocket.onclose = function (e) {
        console.log("This is a close");
    };
    document
        .getElementById("send-button")
        .addEventListener("click", function (e) {
            e.preventDefault();
            const messageInput = document.getElementById("message-input");
            const message = messageInput.value;
            chatSocket.send(
                JSON.stringify({
                    message: message,
                    username: username,
                    room: chatRoomName,
                }),
            );

            messageInput.value = "";
        });
</script>
